@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
h2,
h3 {
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
}
body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
  min-height: 100vh;
  background-color: hsl(233, 47%, 7%);
  padding: 10rem 2rem;
  color: hsla(0, 0%, 100%, 0.75);
}
.card {
  background-color: hsl(244, 38%, 16%);
  overflow: hidden;
  border-radius: 10px;
}
.card__image {
  display: block;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}
.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.card__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsla(277, 64%, 61%, 0.4);
  z-index: 2;
}

.card__body {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.card__content {
  margin-bottom: 3rem;
}
.card__content h2 {
  font-size: 3rem;

  margin-bottom: 1.5rem;
}
.card__content h2 span {
  color: hsl(277, 64%, 61%);
}
.card__content p {
  line-height: 1.6;
}
.card__count {
  margin-bottom: 2rem;
}
.card__count h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}
.card__count p {
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: hsla(0, 0%, 100%, 0.6);
}
@media screen and (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    max-width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
  }
  .card__image {
    flex-basis: 50%;
  }
  .card__body {
    flex-basis: 50%;
    text-align: left;
    padding: 6rem 8rem 6rem 6rem;
    align-items: flex-start;
  }
  .card__content {
    margin-bottom: 4.5rem;
  }
  .card__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
